<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="./../static/images/StackX.png" type="image/x-icon">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{data["empid"]}}</title>

    <style>
        .but{
            background-color: lightblue; border: none; padding: 12px; border-radius:10px; font-size:large
        }

        .but1{
            background-color: rgb(202, 235, 159); border: none; padding: 10px; border-radius:10px; font-size:large; border:solid
        }

        .but2{
            background-color: rgb(235, 179, 159); border: none; padding: 10px; border-radius:10px; font-size:medium; border:solid
        }
    </style>
</head>
<body style="margin: 20px;">
    <h2>{{data["empid"]}} ({{data["Name"]}})</h2>
    <div style="display: inline-block;">
        <button class="but">
            Rs. {{data["stipend"]}}
        </button>
        <button class="but">
            Rs. {{data["incentives"]}}
        </button>
        <button class="but">
            {{data["status"]}}
        </button>
    </div>

    <br>
    <br>
    

    <div style="display: inline-block;">
        <a href="/admin/addstipend/{{data["empid"]}}/{{data["stipend"]}}"><button class="but1">
            Push Stipend
        </button></a>        
        <button class="but1">
            Projects
        </button>
    </div>

    <br>
    <br>


    <div style="display: inline-block;">
        <a href="/admin/addincentive/{{data["empid"]}}/2000"><button class="but2">
            Push Incentive
        </button></a>
        <button class="but2">
            Add Certificate
        </button>
       
    </div>

    <br>
    <hr>
    


    <div>
        <h2>Assign Project</h2>
        <form action="/admin/assignProject/{{data["empid"]}}" method="post">
            <input name="project" style="border: solid; padding:10px; border-radius:10px" type="text" placeholder="Project">
            <input name="deadline" style="border: solid; padding:10px; border-radius:10px" type="text" placeholder="DeadLine (yyyy-mm-dd)">
            <button class="but" type="submit">Assign</button>
        </form>       
    </div>

    <br>
    <hr>

    <div>
        <h2>Completed Projects</h2>
        {% for element in projects %}
        <div style="border: solid; border-radius:10px; padding:10px; margin-right:10px; display: inline-block;" >
            <h2>{{element["projectName"]}}</h2>
            <h4>{{element["timePeriod"]}}</h4>
        </div>
        {% endfor %}
        
       
    </div>
    
</body>
</html>