<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
    <link rel="shortcut icon" href="./../static/images/StackX.png" type="image/x-icon">  
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    fontFamily: {
                        sans: ['Inter', 'sans-serif'],
                    },
                }
            }
        }
    </script>
    <style>
        .mcs{
            border: solid;
            border-radius: 20px;
            display: inline-block;
            margin: 30px;
            padding: 15px;
            vertical-align: middle;
        }

     
        
    </style>
    <title>Admin Homepage</title>
</head>

<body>

    <div class="mcs" >
        <img height="200px" width="600px" src="https://assets-global.website-files.com/61766c42e8e50c99a04fbd4b/6179a7473854b15e11196ea6_shutterstock_1389455627.jpeg" alt="">
        <br>
        <form action="/admin/add" method="POST">
            <h1>Add Employee</h1>
            <br>
            <button style="background-color: lightblue; border: none; padding: 12px; border-radius:10px; font-size:large" type="submit">Add</button>
        </form>
    </div>

    <div class="mcs">
        <img height="200px" width="600px" src="https://assets-global.website-files.com/61766c42e8e50c99a04fbd4b/61799eaf4b05a17ba8d10e5b_shutterstock_1357446050.jpeg" alt="">
        <br>
        <form action="/admin/manage">
            <h1>Manage Employees</h1>
            <br>
            <button style="background-color: lightblue; border: none; padding: 12px; border-radius:10px; font-size:large" type="submit">Manage</button>
        </form>
    </div>



    <!-- <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
            <form class="flex flex-wrap -mx-4 -mb-10 text-center" action="/admin/add" method="POST">
                <div >
                    <div class="sm:w-1/2 mb-10 px-4">
                        <div class="rounded-lg h-64 overflow-hidden">
                            <img alt="content" class="object-cover object-center h-full w-full"
                                src="https://assets-global.website-files.com/61766c42e8e50c99a04fbd4b/6179a7473854b15e11196ea6_shutterstock_1389455627.jpeg">
                        </div>
                        <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Add Employee</h2>

                        <button type="submit"
                            class="flex mx-auto mt-6 text-white bg-indigo-500 border-0 py-2 px-5 focus:outline-none hover:bg-indigo-600 rounded">Add</button>

                    </div>
                </div>
            </form>
            
                
                <div class="flex flex-wrap -mx-4 -mb-10 text-center" >
                    <div class="sm:w-1/2 mb-10 px-4">
                        <div class="rounded-lg h-64 overflow-hidden">
                            <img alt="content" class="object-cover object-center h-full w-full"
                                src="https://assets-global.website-files.com/61766c42e8e50c99a04fbd4b/61799eaf4b05a17ba8d10e5b_shutterstock_1357446050.jpeg">
                        </div>
                        <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Manage Employee</h2>

                        <a href="/admin/manage" ><button type="submit"
                            class="flex mx-auto mt-6 text-white bg-indigo-500 border-0 py-2 px-5 focus:outline-none hover:bg-indigo-600 rounded">Check</button></a>
                    </div>
                </div>
           
        </div>
    </section> -->

</body>

</html>