<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" href="./../static/images/StackX.png" type="image/x-icon">  
    <title>About Us</title>
</head>

<body>
    <header class="text-white bg-gray-900 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a href="/" class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
                <img width="45px" src="./../static/images/StackX.png">
                <span class="ml-3 text-xl">StackX</span>
            </a>
            <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
                <a href="/about_us" class="mr-5 hover:text-white">About Us</a>
               
                <a href="#projects" class="mr-5 hover:text-white">Projects</a>
                <a href="#contact"class="mr-5 hover:text-white">Contact</a>
            </nav>
            <a href="/joinus"><button 
                class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0">Join
                Us

            </button></a>
        </div>
    </header>

     <div class="h-screen pb-14 bg-right bg-white">


        <!--Main-->
        <div class="container pt-24 md:pt-22 px-12 mx-auto flex flex-wrap flex-col md:flex-row items-center">

            <!--Left Col-->
            <div class="flex flex-col w-full xl:w-2/5 justify-center lg:items-start overflow-y-hidden">
                <h1
                    class="my-4 text-3xl md:text-5xl text-blue-500 font-bold leading-tight text-center md:text-left slide-in-bottom-h1">
                    Push or Pop, We got every option here.</h1>
                <p class="leading-normal text-base md:text-2xl mb-8 text-center md:text-left slide-in-bottom-subtitle">
                    We are a team of developers creating apps and games for public use and offering many services at
                    very low costs. We are also open for other developers if they want to collab with us and want to
                    launch there app or game on playstore.</p>

                <p class="text-gray-700 font-bold pb-8 lg:pb-6 text-center md:text-left fade-in">Download our apps:</p>
                <a href="https://play.google.com/store/apps/dev?id=7191334040344785900"><div class="flex w-full justify-center md:justify-start pb-24 lg:pb-0 fade-in">
                    <img src="./../static/images/Play_Store.svg" class="h-12 pr-4 bounce-top-icons">
                </div></a>

            </div>

            <!--Right Col-->
            <div class="w-full xl:w-3/5 py-6 overflow-y-hidden">
                <img class="w-5/6 mx-auto lg:mr-0 slide-in-bottom" src="./../static/images/devices.svg">
            </div>

            <!--Footer-->


        </div>




    </div>

    <section class="text-gray-600 body-font bg-white">
        <div class="container px-12 py-24 mx-auto">
            <div class="flex flex-col text-center w-full mb-20">
                <h1 class="text-4xl font-bold title-font mb-4 text-gray-900 tracking-widest">OUR TEAM</h1>

            </div>
            <div class="flex flex-wrap -m-4">



                <div class="p-4 lg:w-1/2">
                    <div
                        class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
                        <img alt="team"
                            class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4"
                            src="https://media-exp1.licdn.com/dms/image/C4D03AQGMuhmMe6LcbQ/profile-displayphoto-shrink_400_400/0/1589981905919?e=1655942400&v=beta&t=VtelAJKDCMB7w7pStJYudKBfCb391Y6RG4G-VWayy44">
                        <div class="flex-grow sm:pl-8">
                            <h2 class="title-font font-medium text-lg text-gray-900">Abhishek Sharma</h2>
                            <h3 class="text-gray-500 mb-3">App Developer</h3>
                            <p class="mb-4">I am co-founder and full-stack app developer in this company. My skills include Flutter,
                                Firebase, SQLite3 and Figma for app designing. Python and C++ are the languages used by me for programming.</p>
                            <span class="inline-flex">
                                <a class="ml-3 text-gray-500"
                                    href="https://www.linkedin.com/in/abhishek-sharma-20b6071aa/">
                                    <svg fill="currentColor" stroke="currentColor" stroke-linecap="round"
                                        stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                                        <path stroke="none"
                                            d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                                        </path>
                                        <circle cx="4" cy="4" r="2" stroke="none"></circle>
                                    </svg>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="p-4 lg:w-1/2">
                    <div
                        class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
                        <img alt="team"
                            class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4"
                            src="https://media-exp1.licdn.com/dms/image/C4E03AQFuTfVlkTSkOg/profile-displayphoto-shrink_400_400/0/1630949943813?e=1655942400&v=beta&t=jVsB_dkPz7tBekeAo3zyDDkCxtsq24GzqXhZrf6G_0w">
                        <div class="flex-grow sm:pl-8">
                            <h2 class="title-font font-medium text-lg text-gray-900">Vaibhav Gautam</h2>
                            <h3 class="text-gray-500 mb-3">Game Developer</h3>
                            <p class="mb-4">I am co-founder and full-stack Game developer and graphic designer in this company. I primarly use Gotot engine, Unity and Blender. C#, C++ and GDScript are the languages used by me for programming. </p>
                            <span class="inline-flex">
                                <a class="ml-3 text-gray-500"
                                    href="https://www.linkedin.com/in/vaibhav-gautam-82548020a/">
                                    <svg fill="currentColor" stroke="currentColor" stroke-linecap="round"
                                        stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                                        <path stroke="none"
                                            d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                                        </path>
                                        <circle cx="4" cy="4" r="2" stroke="none"></circle>
                                    </svg>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 

    

      <footer class="text-white body-font bg-gray-900">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
          <a class="flex title-font font-medium items-center md:justify-start justify-center text-white">
            <img width="30px" src="./../static/images/StackX.png">
            <span class="ml-3 text-xl">StackX</span>
          </a>
          <p class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">2022 © StackX
            
          </p>
          <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
            
            <a class="ml-3 text-white">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
              </svg>
            </a>
            <a class="ml-3 text-white">
              <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                <circle cx="4" cy="4" r="2" stroke="none"></circle>
              </svg>
            </a>
          </span>
        </div>
      </footer>
</body>

</html>